<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <mat-list class="list_padding">
    <mat-list-item>Semester
      <mat-select class="align-right">
        <mat-option *ngFor="let semester of semesters" [value]="semester.value">
          {{semester.viewValue}}
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list> -->

  <ion-item style="width: 100%; padding: 10px;">
    <ion-label style="width:30%;">Semester: </ion-label>
    <ion-select width="100%" placeholder="Select Semester" [(ngModel)]='nrSelect' (ionChange)="onChangeSemester()">
      <ion-select-option style="width: 100%;" *ngFor="let semester of semesterList" [value]="semester.ID">
        {{semester.Title}}</ion-select-option>
    </ion-select>
  </ion-item>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header
        style="background-color:rgb(51, 100, 247); color: white; margin-left:5px; margin-right: 5px; margin-top: 5px;">
        <mat-panel-title style="color:white;">Registered Courses</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="card_padding" *ngFor="let registrationDetails of registrationData?.Courses">
        <mat-card-content>
          <mat-card-title class="card_title">{{registrationDetails.Section.Description}}</mat-card-title>
          <p *ngFor="let sectionDetails of registrationDetails.Section.SectionRoutine">{{sectionDetails.Details}}{{' Room: ' + sectionDetails.Room}}</p>
          <mat-divider></mat-divider>
          <mat-card-subtitle style="padding-top:14px;">Lec-Com-Sci-Lan-Stu: 
            {{registrationDetails.LectureCredit + ' -'}}
            {{registrationDetails.ComputerCredit + ' -'}}
            {{registrationDetails.ScienceCredit + ' -'}}
            {{registrationDetails.LanguageCredit + ' -'}}
            {{registrationDetails.StudioCredit}}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
   
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header style="background-color:rgb(51, 100, 247); color: white; margin: 5px;">
        <mat-panel-title style="color:white;">Semester Fees</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list densed>
        <mat-list-item>
          <div class="list-item1">Admission</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.AdmissionFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Tuition</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.TuitionFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Computer Lab</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.ComputerLabFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Science Lab</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.ScienceLabFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Language Lab</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.LanguageLabFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Studio</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.StudioLabFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Development</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.DevelopmentFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Activity</div>
          <div class="list-item2">
            <mat-chip-list style="align-self:flex-end;">
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.ActivityFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Miscellaneous</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.MiscFee}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1" style="color:dodgerblue">Total</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.Total}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1" style="color:lightsalmon">Deduction</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.TotalDeduction}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Prev. Balance</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.PreviousBalance}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1" style="color:dodgerblue">Net Total</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.NetTotal}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">Amount Paid</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{-registrationData?.Assesment?.CurrentSemesterBalance}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1" style="color:lightseagreen">Balance</div>
          <div class="list-item2">
            <mat-chip-list>
              <mat-chip style="align-content:flex-end;">{{registrationData?.Assesment?.GrandTotal}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>
<ion-footer>
  <div class="button-row">
    <button mat-button>Download</button>
  </div>
  <div class="footerDiv"></div>
</ion-footer>