<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <mat-list class="list_padding">
    <mat-list-item>Month
      <mat-select class="align-right">
        <mat-option *ngFor="let payroll of reversedPayrollList" [value]="payroll.Value">
          {{payroll.Name}}
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list> -->

  <ion-item style="width: 100%; padding: 10px;">
    <ion-label>Select Month</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]='nrSelect' (ionChange)="onChangePayroll()">
      <ion-select-option *ngFor="let payroll of payrollList" [value]="payroll.Value"> {{payroll.Name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <mat-card style="margin:10px;">
    <mat-card-content>
      <mat-list dense>
        <mat-list-item>
          <div class="list-item1">
            <b>Total (by shift)</b>
          </div>
          <div class="list-item2">
            <b>{{byShiftTotal}}</b>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item1">
            <b>Total (by FI-LO)</b>
          </div>
          <div class="list-item2">
            <b>{{byFiloTotal}}</b>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card> -->
  <mat-list dense>
    <mat-list-item>
      <div class="attendance-list-head1">
        <b>Date</b>
      </div>
      <div class="attendance-list-head2">
        <b>Total (Shift)</b>
      </div>
      <div class="attendance-list-head3">
        <b>Total (FI-LO)</b>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel [expanded]="false" *ngFor="let attendance of attendanceList?.AttendanceDetailModels">
      <mat-expansion-panel-header>
        <div class="attendance-list-head1">{{attendance?.Date}}</div>
        <div class="attendance-list-head2">{{attendance?.AllShift}}</div>
        <div class="attendance-list-head3">{{attendance?.Filo}}</div>
      </mat-expansion-panel-header>
      <mat-panel-description>{{attendance.InOut}}</mat-panel-description>
    </mat-expansion-panel>
  </mat-list>


  <!-- JAOWAT's Customise -->
  <!-- <mat-list dense>
    <mat-list-item>
      <div class="attendance-list-head1">
        <b>Date</b>
      </div>
      <div class="attendance-list-head2">
        <b>InOut</b>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel [expanded]="false"  *ngFor="let attendance of attendanceList">
      <mat-expansion-panel-header>
        <div class="attendance-list-head1">{{attendance.Date}}</div>
        <div class="attendance-list-head2"><b>{{attendance.InOut}}</b></div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div>Total (Shift):<b>{{attendance.Filo}}</b></div>
        <div>Total (FI-LO):<b>{{attendance.AllShift}}</b></div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-list>  -->
</ion-content>

<ion-footer>
  
  <div class="example-button-row">
    <button mat-button color="primary">{{attendanceList?.TotalAllShift}}</button>
    <button mat-button color="primary">Download</button>
    <button mat-button color="primary">{{attendanceList?.TotalFILO}}</button>
  </div>
  <div class="footerDiv"></div>
</ion-footer>