<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="schedule">
    <ngx-content-loading [width]="222">
      <svg:g ngx-facebook-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="222">
      <svg:g ngx-instagram-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="280">
      <svg:g ngx-code-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="202">
      <svg:g ngx-list-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
  </div>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Class Schedule
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <table class="table table-sm">
        <tbody>
          <div *ngFor="let classSchedule of schedule">
            <tr *ngFor="let classInfo of classSchedule.Classes; index as i">
              <td rowspan="classSchedule.Classes.length"><span
                  *ngIf="i==0">{{classSchedule.ClassRoutineDate | date: 'dd-MMM-yy'}}</span></td>
              <td><b>{{classInfo.SectionDescription }}</b>
                <p [hidden]="classInfo.SectionID == 0 ">{{ 'Room: '+classInfo.Room}}{{' Time '+classInfo.Time}}</p>
              </td>
            </tr>
          </div>
        </tbody>
      </table> -->


      <mat-list>
        <div *ngFor="let classSchedule of schedule">
          <mat-list-item *ngFor="let classInfo of classSchedule.Classes; index as i">
            <h4 matLine class="schedule_head">
              <span *ngIf="i==0">{{classSchedule.ClassRoutineDate | date: 'dd-MMM-yy'}}</span>
            </h4>
            <p matLine>{{classInfo.SectionDescription }}</p>
            <p [hidden]="classInfo.SectionID == 0" matLine>{{ 'Room: '+classInfo.Room}}{{' Time '+classInfo.Time}}</p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registration
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card *ngFor="let item of dashboard.Courses" style="margin-bottom:20px">
        <mat-card-content>
          <mat-card-title class = "card_title">{{item.ID}} -  {{item.Title}}  [{{item.Section}}]</mat-card-title>
          <mat-card-subtitle>Status :  
            <mat-chip color="primary" selected> {{item.Status}} </mat-chip>
          </mat-card-subtitle>
          <mat-card-subtitle>Result : {{item.Grade}} ({{item.Marks}})</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>