#static-1{
  color: primary;
  background-color: primary-contrast;
}
#static-2{
  color: primary;
  background-color: primary-contrast;
}

.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
width: 100%;
}


.card_title{
  font-size: 14px;
  margin-bottom:10px;
}

.schedule_head{
  font-weight: bold;
  color: royalblue;
}

.example-button-row button,
.example-button-row a {
  align-self: center;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 4%;
  width: 29.33%;
}

.alignright {
	float: right;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

::ng-deep .mat-list-item-content {
  padding: 0 0px !important; 
}

.semesterInput{
  max-width: 100% !important;
}