#static-1{
  color: primary;
  background-color: primary-contrast;
}
#static-2{
  color: primary;
  background-color: primary-contrast;
}

.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
width: 100%;
}

mat-grid-tile {
background: lightblue;
}

.card_title{
  font-size: 14px;
}

.schedule_head{
  font-weight: bold;
  color: royalblue;
}

.example-button-row button,
.example-button-row a {
  align-self: center;
  margin-right: 2%;
  margin-left: 2%;
  width: 29.33%;
}
