<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Offered Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <mat-form-field style="margin-top: 2%; margin-left: 2%; margin-right: 2%;">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Course">
    </mat-form-field>
    
    <table mat-table [dataSource]="listData">

      <!-- Course Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.Description}} {{' [' + element.StudentCount + '/' + element.Capacity + '] [' + element.SectionStatus + ']'}} </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.SectionRoutineCollection[0].Time}} <br /> {{element.SectionRoutineCollection[1].Time}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-progress-bar mode="indeterminate" [color]="color" [hidden]="listData"></mat-progress-bar>
    <div [hidden]="listData" style="margin-top: 6%;">
        <ngx-content-loading [width]="222">
          <svg:g ngx-bullet-list-preset></svg:g>
        </ngx-content-loading>
        <ngx-content-loading [width]="222">
            <svg:g ngx-bullet-list-preset></svg:g>
          </ngx-content-loading>
          <ngx-content-loading [width]="222">
              <svg:g ngx-bullet-list-preset></svg:g>
            </ngx-content-loading>
      </div>
  </div>
</ion-content>
<ion-footer>
    <mat-paginator [pageSizeOptions]="[25, 30, 40]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</ion-footer>