<ion-header>
    <ion-toolbar color="aiubthemecolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Academics
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item (click)="goToCourses()">
        <ion-icon name="copy"></ion-icon>
        <ion-text>Courses & Results</ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="flash"></ion-icon>
        Registration
      </ion-item>
      <ion-item>
        <ion-icon name="book"></ion-icon>
        Offered Courses
      </ion-item>
      <ion-item>
        <ion-icon name="list"></ion-icon>
        My Curriculumn
      </ion-item>
      <ion-item>
        <ion-icon name="logo-usd"></ion-icon>
        Financials
      </ion-item>
    </ion-list>
  </ion-content>
  