<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="profile">
    <ngx-content-loading [width]="222">
      <svg:g ngx-facebook-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="280">
      <svg:g ngx-list-preset></svg:g>
    </ngx-content-loading>
  </div>

  <h2>{{errorMsg}}</h2>
  <ion-card>
    <ion-card-content align="center">
      <img class="profile-logo-align" mat-card-image src="{{'data:image/jpg;base64,' + userImagePath}}"
        alt="Employee Image">
      <ion-card-title class="name">{{profile?.FullName}}</ion-card-title>
      <ion-card-subtitle class="type">Employee</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-item1">Employee ID</div>
          <div class="list-item2">{{profile?.EmployeeID}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Position</div>
          <div class="list-item2">{{profile?.Position}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Designation</div>
          <div class="list-item2">{{profile?.Designation}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Department</div>
          <div class="list-item2">{{profile?.Department}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Classification</div>
          <div class="list-item2">{{profile?.Classification}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Employee Type</div>
          <div class="list-item2">{{profile?.EmployeeType}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Supervisor</div>
          <div class="list-item2">{{profile?.Supervisor}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Join Date</div>
          <div class="list-item2">{{profile?.JoiningDate}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Year of Service</div>
          <div class="list-item2">{{profile?.YearOfService}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Increment Month</div>
          <div class="list-item2">{{profile?.IncrementMonth}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Account No.</div>
          <div class="list-item2">{{profile?.AccountNo}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Phone</div>
          <div class="list-item2">{{profile?.Phone}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Email</div>
          <div class="list-item2">{{profile?.Email}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">TIN</div>
          <div class="list-item2">{{profile?.TinNo ? profile?.TinNo : "N/A"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Father Name</div>
          <div class="list-item2">{{profile?.FatherName ? profile?.FatherName : "N/A"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Mother Name</div>
          <div class="list-item2">{{profile?.MotherName ? profile?.MotherName : "N/A"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: inherit; max-height: auto;">
          <div class="list-item1">Present Address</div>
          <div class="list-item2">{{profile?.PresentAddress ? profile?.PresentAddres : "N/A"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="min-height: inherit; max-height: auto;">
          <div class="list-item1">Permanent Address</div>
          <div class="list-item2">{{profile?.PermanentAddress ? profile?.PermanentAddress : "N/A"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Date of Birth</div>
          <div class="list-item2">{{profile?.DOB | date:"dd-MMM-yy"}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Sex</div>
          <div class="list-item2">{{profile?.Sex}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Blood Group</div>
          <div class="list-item2">{{profile?.BloodGroup}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Marital Status</div>
          <div class="list-item2">{{profile?.MaritalStatus}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Religion</div>
          <div class="list-item2">{{profile?.Religion}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-item1">Country</div>
          <div class="list-item2">{{profile?.Country}}</div>
        </mat-list-item>
      </mat-list>
    </ion-card-content>
  </ion-card>
</ion-content>