<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="profile">
    <ngx-content-loading [width]="222">
      <svg:g ngx-facebook-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="222">
      <svg:g ngx-instagram-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="280">
      <svg:g ngx-code-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="202">
      <svg:g ngx-list-preset></svg:g>
    </ngx-content-loading>

    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
  </div>

  <h2>{{errorMsg}}</h2>

  <div>
    <mat-card align="center" style="padding-top: 30px !important;">
      <!-- <img class="profile-logo-align" mat-card-image src="../../../assets/icon/student_photo.jpg" alt="Student Image"> -->
      <img class="profile-logo-align" mat-card-image src="{{'data:image/jpg;base64,' + userImagePath}}" alt="Employee Image">
      <mat-card-title>{{profile?.FullName}}</mat-card-title>
      <mat-card-subtitle>Employee</mat-card-subtitle>
    </mat-card>
  </div>
    
  <mat-list style="padding:10px;">
    <mat-list-item>
      <div class="list-item1">Employee ID</div>
      <div class="list-item2">{{profile?.EmployeeID}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Position</div>
      <div class="list-item2">{{profile?.Position}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Designation</div>
      <div class="list-item2">{{profile?.Designation}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Department</div>
      <div class="list-item2">{{profile?.Department}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Classification</div>
      <div class="list-item2">{{profile?.Classification}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Employee Type</div>
      <div class="list-item2">{{profile?.EmployeeType}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Supervisor</div>
      <div class="list-item2">{{profile?.Supervisor}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Join Date</div>
      <div class="list-item2">{{profile?.JoiningDate}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Increment Month</div>
      <div class="list-item2">{{profile?.IncrementMonth}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Account No.</div>
      <div class="list-item2">{{profile?.AccountNo}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Phone</div>
      <div class="list-item2">{{profile?.Phone}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Email</div>
      <div class="list-item2">{{profile?.Email}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">TIN</div>
      <div class="list-item2">{{profile?.TinNo}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Father Name</div>
      <div class="list-item2">{{profile?.FatherName ? profile?.FatherName : "-"}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Mother Name</div>
      <div class="list-item2">{{profile?.MotherName}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item style="min-height: inherit; max-height: auto;">
      <div class="list-item1">Present Address</div>
      <div class="list-item2">{{profile?.PresentAddress}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item style="min-height: inherit; max-height: auto;">
      <div class="list-item1">Permanent Address</div>
      <div class="list-item2">{{profile?.PermanentAddress}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">DOB</div>
      <div class="list-item2">{{profile?.DOB | date:"dd-MMM-yyyy"}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Sex</div>
      <div class="list-item2">{{profile?.Sex}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Blood Group</div>
      <div class="list-item2">{{profile?.BloodGroup}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Marital Status</div>
      <div class="list-item2">{{profile?.MaritalStatus}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Religion</div>
      <div class="list-item2">{{profile?.Religion}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item1">Country</div>
      <div class="list-item2">{{profile?.Country}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</ion-content>
