/** AIUB Logo middle alignment **/
.profile-logo-align {
    width: 200px; 
    display:block;
    margin:auto;
    padding-bottom: 10px;
}

img {
    max-width: 50%;
    border: 0;
}

.list-item1{
    width: 32%;
}

.list-item2{
    width: 68%;
}

.mat-list-base .mat-list-item {
    font-size: 14px;
}

.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}