<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-img class="profile-logo-align" alt="AIUB LOGO" [src]="'../../../assets/icon/student_photo.jpg'"> </ion-img>
      <ion-card-subtitle align="center">Student</ion-card-subtitle>
      <ion-card-title align="center">
        {{profile.studentName}}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <table class="table table-striped ">
          <tbody>
            <tr>
              <td>Student ID</td>
              <td>{{profile.studentId}}</td>
            </tr>
            <tr>
              <td>CGPA</td>
              <td>{{profile.cgpa}}</td>
            </tr>
            <tr>
              <td>Credit</td>
              <td>{{profile.credit}}</td>
            </tr>
            <tr>
              <td>Program</td>
              <td>{{profile.program}}</td>
            </tr>
            <tr>
              <td>Department</td>
              <td>{{profile.department}}</td>
            </tr>
            <tr>
              <td>Core</td>
              <td>{{profile.core}}</td>
            </tr>
            <tr>
              <td>Father Name</td>
              <td>{{profile.fatherName}}</td>
            </tr>
            <tr>
              <td>Mother Name</td>
              <td>{{profile.motherName}}</td>
            </tr>
            <tr>
              <td>Present Address</td>
              <td>{{profile.presentAddress}}</td>
            </tr>
            <tr>
              <td>Permanent Address</td>
              <td>{{profile.permanentAddress}}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{profile.phone}}</td>
            </tr>
            <tr>
              <td>DOB</td>
              <td>{{profile.dob}}</td>
            </tr>
            <tr>
              <td>Sex</td>
              <td>{{profile.sex}}</td>
            </tr>
            <tr>
              <td>Nationality</td>
              <td>{{profile.nationality}}</td>
            </tr>
            <tr>
              <td>Religion</td>
              <td>{{profile.religion}}</td>
            </tr>
            <tr>
              <td>Martital Status</td>
              <td>{{profile.martitalStatus}}</td>
            </tr>
            <tr>
              <td>Blood Group</td>
              <td>{{profile.bloodGroup}}</td>
            </tr>
            <tr>
              <td>Admission Date</td>
              <td>{{profile.admissionDate}}</td>
            </tr>
            <tr>
              <td>Graduation Date</td>
              <td>{{profile.graduationDate}}</td>
            </tr>
          </tbody>

        </table>
    </ion-card-content>
  </ion-card>
</ion-content>
