/** AIUB Logo middle alignment **/
.profile-logo-align {
    width: 200px; 
    display:block;
    margin:auto;
    padding-bottom: 10px;
}

.list-item1{
    width: 34%;
    padding-right: 2%;
}

.list-item2{
    width: 66%;
}

.mat-list-base .mat-list-item {
    font-size: 14px;
}

.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}

.name{
    font-size: 18px;
}

.type{
    font-size: 14px;
}