<ion-header >
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="schedule" style="margin-top: 6%;">
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
    <ngx-content-loading [width]="222">
      <svg:g ngx-bullet-list-preset></svg:g>
    </ngx-content-loading>
  </div>
  <!-- <mat-progress-bar mode="indeterminate" [color]="color" [hidden]="userInfo?.HasAttendanceWarning"></mat-progress-bar> -->
  <ion-card *ngIf="userInfo?.HasAttendanceWarning" color="danger">
    <ion-card-header >
      <ion-card-title>Warning</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       You have missed some attendances!
    </ion-card-content>
  </ion-card>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header style=" color:black; margin: 5px; border: 2px solid #004ea2" >
      <mat-panel-title style="color:black;">
        Class Schedule
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let classSchedule of schedule">
        <mat-list-item *ngFor="let classInfo of classSchedule.Classes; index as i">
          <span matLine class="schedule_head" [hidden]="i!=0"
            style="margin-bottom:2%;">{{classSchedule.ClassRoutineDate | date: 'dd-MMM-yy'}}</span>
          <span matLine>{{classInfo.SectionDescription }}</span>
          <span [hidden]="classInfo.SectionID == 0"
            matLine>{{ 'Room: '+classInfo.Room}}{{' Time: '+classInfo.Time}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>

  </mat-expansion-panel>
</ion-content>