.card_title {
  font-size: 14px;
  margin-bottom: 10px;
}
.schedule_head {
  font-weight: bold;
  color: royalblue;
}

.schedule_head {
  font-weight: bold;
  color: royalblue;
}

::ng-deep .menu-header > .mat-expansion-indicator:after {
  color: white;
  }