<!-- <ion-content  text-center>
  <form (ngSubmit)="logForm()" >
      <ion-card>
          <ion-card-header>
            <ion-card-title> 
              <ion-img class="logo-align" alt="AIUB LOGO" [src]="'../../../assets/icon/aiub_logo.jpg'">
              </ion-img>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <p>AMERICAN INTERNATIONAL<br> UNIVERSITY-BANGLADESH</p>
              <P style="font-size: 12px">- where leaders are created</P>
              <br>
              <p> Sign in with your organization ID</p>
            <ion-list>
               
                <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input name = "user" type="text" [(ngModel)]="User.username" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input name="pass" type="password" [(ngModel)]="User.password" ></ion-input>
                </ion-item>
              </ion-list>
              <br>
              <ion-button type="submit" expand="full">Log In</ion-button><br>
              <a style="text-decoration: none" href="#">Can’t access your account?</a>
          </ion-card-content>
        </ion-card>
    </form>
</ion-content> -->

<ion-content>
  <div class="container">
    <img class="loginLogo" alt="AIUB LOGO" src="../../../assets/icon/aiub_logo.png">
    <form (ngSubmit)="logForm()">
    <div class="login-box">
      <h1>Login</h1>
      <ion-list>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input name = "user" type="text" [(ngModel)]="User.username" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input name="pass" type="password" [(ngModel)]="User.password" ></ion-input>
          </ion-item>
        </ion-list>
      <button type="submit" class="loginButton">Login</button>
    </div>
  </form>
  </div>
</ion-content>
