// page-login {

//     /** Vertical Alignment **/
//     .valign {
//         position: relative;
//         top: 50%;
//         transform: translateY(-50%);
//       }
    
//     /** Disabled Content Scrolling **/
//     .scroll-content {
//         overflow-y: hidden !important;
//     }
    
// }

// /** AIUB Logo middle alignment **/
// .logo-align {
//     width: 200px; 
//     display:block;
//     margin:auto;
// }

 .container {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, #347ee2 0%, #584bc1 100% );
}

.login-box {
    width: 85%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 38vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.52);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: #7B7A7B;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    color: #426BD7;
    font-weight: 700;
}

.formInput {
    display: black;
    width: 100%;
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #aaaaaa;
    outline: none;
}

.loginButton {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 90px;
    background-color: #426BD7;
    color: white;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 35px;
    border-radius: 30px;
    outline:0 !important;
}

.loginLogo {
    width: 130px;
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    top: calc(25vh - 100px);
    
}
