<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Financials</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mat-list dense>
    <mat-list-item>
      <div class="financials-list-head1">
        <b>Particulars</b>
      </div>
      <div class="financials-list-head2">
        <b>Balance</b>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel [expanded]="false" *ngFor="let financialDeatil of financialDeatils?.Accounts">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1" style="color:dodgerblue;">{{financialDeatil.TransactionDescription}}</div>
        <div class="financials-list-desc2">{{financialDeatil.Balance}}</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">{{financialDeatil.TransactionDate | date:"dd-MMM-yyyy" }}</div>
          <div class="desc-head">{{financialDeatil.DebitAmount}}</div>
          <div class="desc-head">{{financialDeatil.CreditAmount}}</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
  
  </mat-list>
</ion-content>
<ion-footer>
  <mat-list dense>
    <mat-divider></mat-divider>
    <mat-list-item style="height:auto; margin-top:2%;">
      <div class="desc-head">
        <b>Debit</b>
      </div>
      <div class="desc-head">
        <b>Credit</b>
      </div>
      <div class="desc-head">
        <b>Balance</b>
      </div>
    </mat-list-item>
    <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
      <div class="desc-head">{{financialDeatils?.TotalDebit | number}}</div>
      <div class="desc-head">{{financialDeatils?.TotalCredit | number}}</div>
      <div class="desc-head">{{totalBalance | number}}</div>
    </mat-list-item>
  </mat-list>
</ion-footer>