.financials-list-head1{
    width: 60%;
    margin-right: 5%;
    text-align: center;
}

.financials-list-head2{
    width: 30%;
    margin-right: 5%;
    text-align: center;
}

.financials-list-desc1{
    width: 60%;
    margin-right: 5%;
    text-align: left;
}

.financials-list-desc2{
    width: 30%;
    text-align: center;
}

.financials-list-desc{
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: left;
}

.desc-head{
    width: 33.33%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}