<ion-header>
  <ion-toolbar color="aiubthemecolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Financials</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mat-list dense>
    <mat-list-item>
      <div class="financials-list-head1">
        <b>Particulars</b>
      </div>
      <div class="financials-list-head2">
        <b>Balance</b>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1" style="color:dodgerblue;">**Total Fees for SY 2015-2016,1- Spring</div>
        <div class="financials-list-desc2">132,000.00</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">29-Nov-2015</div>
          <div class="desc-head">132,000.00</div>
          <div class="desc-head">0.00</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1"> Semester Payment</div>
        <div class="financials-list-desc2">0.00</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">29-Nov-2015</div>
          <div class="desc-head">0.00</div>
          <div class="desc-head">132,000.00</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1" style="color:dodgerblue;">**Total Fees for SY 2015-2016,2- Summer</div>
        <div class="financials-list-desc2">87,500.00</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">10-May-2016</div>
          <div class="desc-head">87,500.00</div>
          <div class="desc-head">0.00</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1"> Semester Payment</div>
        <div class="financials-list-desc2">30,000.00</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">10-May-2016</div>
          <div class="desc-head">0.00</div>
          <div class="desc-head">57,500.00</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <div class="financials-list-desc1"> Semester Payment</div>
        <div class="financials-list-desc2">0.00</div>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%;">
          <div class="desc-head">
            <b>Date</b>
          </div>
          <div class="desc-head">
            <b>Debit</b>
          </div>
          <div class="desc-head">
            <b>Credit</b>
          </div>
        </mat-list-item>
      </mat-panel-description>
      <mat-panel-description>
        <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
          <div class="desc-head">10-June-2016</div>
          <div class="desc-head">0.00</div>
          <div class="desc-head">30,000.00</div>
        </mat-list-item>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-list>
</ion-content>
<ion-footer>
  <mat-list dense>
    <mat-divider></mat-divider>
    <mat-list-item style="height:auto; margin-top:2%;">
      <div class="desc-head">
        <b>Debit</b>
      </div>
      <div class="desc-head">
        <b>Credit</b>
      </div>
      <div class="desc-head">
        <b>Balance</b>
      </div>
    </mat-list-item>
    <mat-list-item style="height:auto; margin-top:2%; margin-bottom: 4%;">
      <div class="desc-head">219,500</div>
      <div class="desc-head">219,500</div>
      <div class="desc-head">0.00</div>
    </mat-list-item>
  </mat-list>
</ion-footer>